NODE_ENV = development  # development, production
DATABASE_URL="mysql://USER:PASSWORD@IP:PORT/DATABASE_NAME"

ACCESS_TOKEN_SECRET=
ACCESS_EXPIRES_IN=
REFRESH_TOKEN_SECRET= 
REFRESH_EXPIRES_IN=

# Cloudinary
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@<cloud_name>
CLOUDINARY_IMAGE_FOLDER=image-sharing